<div id="container">
  <form action="#" method="post" id="contact_form">
    <br>
    <br>
    <div class="name">
      <input type="text" placeholder="Articulo" name="query" #query required>
    </div>
    <div class="button">
      <input type="button" value="Buscar" id="form_button" (click)="searchItem()"/>
    </div>
    <div class="subject">
      <label for="subject"></label>
      <select placeholder="Subject line" name="subject" id="subject_input" required>
        <option disabled hidden selected>Seleccione un Articulo</option>
        <option *ngFor="let prenda of prendas">
          {{
            prenda.modelo + ' ' + prenda.marca + ' ' + prenda.almacenamiento + 'GB ' +
            prenda.ram + ' GB RAM'
          }}
        </option>
      </select>
    </div>
    <br>
    <br>
    <br>
    <div class="edo_prenda">
      <select type="text" placeholder="Estado de prenda" name="edo_prenda">
        <option disabled hidden selected>Estado de prenda</option>
        <option>Bueno</option>
        <option>Medio</option>
        <option>Malo</option>
      </select>
    </div>
    <div class="pres_max">
      <label type="text" name="pres_max">Préstamo máximo</label>
  </div>
    <div class="pres_min">
        <label type="text" name="pres_min">Préstamo mínimo</label>
    </div>
    <br>
    <br>
    <br>
    <div class="monto">
      <label for monto>Préstamo Aprobado</label>
      <input type="text" placeholder="monto" name="edo_prenda">
    </div>
    <br>
    <div class="siguiente">
      <input routerLink="empeno2" type="submit" value="siguiente" id="siguiente"/>
    </div>
    <div class="atras">
      <input type="button" routerLink="" value="Atrás" id="atras"/>
    </div>
  </form><!-- // End form -->
</div><!-- // End #container -->