<div id="container">
  <form action="#" method="post" id="contact_form">
    <br>
    <br>
    <div class="name">
      <label for="name"></label>
      <input type="text" placeholder="Articulo" name="name" id="name_input" required>
    </div>
      <div class="submit">
      <input type="submit" value="Buscar" id="form_button" />
    </div>
    <div class="subject">
      <label for="subject"></label>
      <select placeholder="Subject line" name="subject" id="subject_input" required>
        <option disabled hidden selected>Seleccione un Articulo</option>
        <option>Articulo 1</option>
        <option>Articulo 2</option>
        <option>Articulo 3</option>
      </select>
    </div>
    
  </form><!-- // End form -->
</div><!-- // End #container -->
<div class="edo_prenda">
    <label for="edo_prenda"></label>
    <input type="text" placeholder="Estado de prenda" edo_prenda="edo_prenda" id="name_input" required>
    <label for="Préstamo"></label>
</div>