<div id="container">
  <form action="#" method="post" id="contact_form">
    <br>
    <br>
    <div class="name">
      <input type="text" placeholder="Articulo" name="Articulo" required>
    </div>
    <div class="submit">
      <input type="submit" value="Buscar" id="form_button" />
    </div>
    <div class="subject">
      <label for="subject"></label>
      <select placeholder="Subject line" name="subject" id="subject_input" required>
        <option disabled hidden selected>Seleccione un Articulo</option>
        <option>Articulo 1</option>
        <option>Articulo 2</option>
        <option>Articulo 3</option>
      </select>
    </div>
  </form><!-- // End form -->
</div><!-- // End #container -->
<form>
  <div class="edo_prenda">
    <input type="text" placeholder="Estado de prenda" name="edo_prenda" required>
  </div>
  <div class="pres_min">
      <label type="text" name="pres_min">Préstamo mínimo</label>
  </div>
  <div class="pres_max">
      <label type="text" name="pres_max">Préstamo máximo</label>
  </div>
  <div class="monto">
    <label for monto>Préstamo Aprobado</label>
    <input type="text" placeholder="monto" name="edo_prenda" required>
  </div>
  <br>
  <div class="container">
    <div class="col">
        <button class="btn btn-primary">Atras</button>
    </div>
    <div class="col">
      <button class="btn btn-primary" type="submit">Siguiente</button>  
    </div>
  </div> 
</form>
