input {
    background-image: none;
    border: none;
    font: inherit;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
  }
  
  svg {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  /* ---------- ALIGN ---------- */
  .align {
    display: grid;
    place-items: Center;
  }
  
  /* ---------- button1 ---------- */
  
  .button1 {
    background-color: rgb(247, 2, 227);
    color: #fff;
    padding: 0.25em 1.5em;
  }
  
  .button1:focus,
  .button1:hover {
    background-color: #1802e2;
  }

   /* ---------- button2 ---------- */
  
   .button2 {
    background-color: rgb(247, 2, 227);
    color: #fff;
    padding: 0.25em 2.25em;
  }
  
  .button2:focus,
  .button2:hover {
    background-color: #1802e2;
    
  }
  
  
  /* -----------Centrado----------*/
  .login__form {
    background-color: #c2ffbf;
    border-bottom-left-radius: 1.25em;
    border-bottom-right-radius: 1.25em;
    color: #777;
    display: grid;
    gap: 0.875em;
    padding: 10em 25em;
  }