#container {
  border: solid 3px #c2ffbf;
  max-width: 50px;
  margin: 100px auto;
}

.pago{
  float: left;
  width: 0%;
}

.empeno{
  float: left;
  width: 0%;
}

#pago{
  background: rgb(247, 2, 227);
  border: solid 2px #474544;
  color: #F2F3EB;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 0.25em 3em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#pago:hover {
    background-color: #1802e2;
    color: #F2F3EB;
}

#empeno {
  background: rgb(247, 2, 227);
  border: solid 2px #474544;
  color: #F2F3EB;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 0.25em 2.25em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#empeno:hover {
  background-color: #1802e2;
  color: #F2F3EB;
}  