<div id="container">
    <form action="#" method="post" id="contact_form">
      <div class="boleta">
        <input type="text" placeholder="Boleta" name="query" #query required>
      </div>
      <div class="button">
        <input type="button" value="Buscar" id="form_button"/>
      </div>
      <br>
      <br>
      <div class="edo_prenda">
        <select type="text" placeholder="Estado de prenda" name="edo_prenda">
          <option disabled hidden selected>Boletas activas</option>
          <option>1</option>
          <option>2</option>
        </select>
      </div>
      <br>
      <div class="siguiente">
        <input routerLink="/pago2" type="submit" value="siguiente" id="siguiente"/>
      </div>
      <div class="atras">
        <input routerLink="" type="button" value="Atrás" id="atras"/>
      </div>
    </form><!-- // End form -->
</div><!-- // End #container -->
