<br>
<br>
<br>
<p align ="center" >
<iframe id="Datos"
type = ""
title="Inline Frame Example"
width="300"
height="300"
value="Datos">
</iframe>

<table align = "right" class="default">
  <tr align = "center">
    <td align = "right">DEUDA</td>
    <td align = "left">PAGO</td>
  </tr>
  <tr >
      <td align = "right">
      <label width = "20"  height= "30" for="Monto">Monto</label>


    </td>
    <td align = "left">
      <label width = "20" height= "30" for="datos_Monto"> </label>
              <input pe= "text" placeholder="Datos_monto" id="">
    </td>
  </tr>
  <tr >
      <td align = "right"><div class="ATRÁS">
        <input routerLink="/pago1" type="button" value="Atrás" id="atras"/>
    </div></td>
    <td align = "left"><div class="PAGADO">
      <input routerLink="/pago3" type="button" value="PAGADO" id="PAGADO"/>
    </div></td>
  </tr>
</table>


