<br>
<br>
<p align ="center" >
<iframe id="Datos"
type = ""
title="Inline Frame Example"
width="300"
height="300"
value="Historial de datos">
</iframe>

<div >
 <p align ="right"> <label aling = right width = "15" height= "25" for="Reajuste de deuda"> REAJUSTE DE DEUDA</label>
</div>
<div >
  <p align ="right"><label aling = center width = "20" height= "30" for="Monto"> </label>
  <input  pe= "text" placeholder="Monto" id="">

  <div class="Salir">
  <p align ="right">  <input type="button" routerLink="" value="Salir" id="Salir"/>
  </div>

