<div id="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <h3>Datos del cliente</h3>
        <div class="name">
            <input formControlName="nom_1" type="text" placeholder="Primer nombre">
        </div>
        <div class="name2">
            <input formControlName="nom_2" type="text" placeholder="Segundo nombre">
        </div>
        <div class="name3">
            <input formControlName="apellido_pat" type="text" placeholder="Apellido Paterno">
        </div>
        <div class="name4">
            <input formControlName="apellido_mat" type="text" placeholder="Apellido Materno">
        </div>
        <div class="age">
            <input formControlName="edad" type="text" placeholder="Edad">
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3>Dirección</h3>
        <div class="calle">
            <input formControlName="nom_direccion" type="text" placeholder="Calle">
        </div>
        <div class="Num">
            <input formControlName="num_int" type="text" placeholder="Número">
        </div>
        <div class="Col">
            <input type="text" placeholder="Colonia">
        </div>
        <div class="City">
            <input type="text" placeholder="Ciudad">
        </div>
        <div class="Cp">
            <input type="text" placeholder="C.P.">
        </div>
        <div class="Cruc">
            <input type="text" placeholder="Cruces">
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3>Otros datos</h3>
        <div class="Tipid">
            <select formControlName="numero_ide" type="text" placeholder="Tipo de identificación" name="Tipid">
                <option disabled hidden selected>Tipo de Indentificación</option>
                <option *ngFor="let ide of catIde" value="{{ide.id_cat_ide}}">
                    {{
                        ide.nom_ide
                    }}
                </option>   
            </select>
          </div>
        <div class="Iden">
            <input type="text" placeholder="N. de identificación">
        </div>
        <div class="Phone">
            <input type="text" placeholder="Teléfono">
        </div>
        <div class="email">
            <input formControlName="correos" type="text" placeholder="Correo">
        </div>
      <div class="siguiente">
        <input routerLink="/pago3" type="button" value="siguiente" id="siguiente"/>
      </div>
      <div class="atras">
        <input type="button" routerLink="/empenodst" value="Atrás" id="atras"/>
      </div>
      <div class="agregar">
        <button type="submit" id="agregar">Agregar</button>
      </div>
    </form><!-- // End form -->
</div><!-- // End #container -->