<div id="container">
    <form action="#" method="post" id="contact_form">
        <h3>Datos del cliente</h3>
        <div class="name">
            <input type="text" placeholder="Nombre">
        </div>
        <div class="lastname">
            <input type="text" placeholder="Apellido">
        </div>




        <div class="fecha_lim">
            <label for fecha_lim>Fecha límite</label>
            <br>
            <label type="text" id="fecha_lim">Fecha límite</label>
        </div>
        <div class="monto_pres">
            <label for monto_pres>Monto de préstamo</label>
            <br>
            <label type="text" id="monto_pres">Monto de préstamo</label>
        </div>
        <div class="taza">
            <label for taza>Taza de empeño</label>
            <br>
            <label type="text" id="taza">Taza de empeño</label>
        </div>
        <br>
        <div class="plazo">
            <label for plazo>Plazos</label>
            <br>
            <label type="text" id="plazo">Plazos</label>
        </div>
        <br>
        <br>
        <br>
      <div class="siguiente">
        <input routerLink="" type="submit" value="siguiente" id="siguiente"/>
      </div>
      <div class="atras">
        <input type="button" routerLink="/empeno2" value="Atrás" id="atras"/>
      </div>
    </form><!-- // End form -->
</div><!-- // End #container -->