<section class="ae-container-fluid rk-main">
    <div class="rk-layout-ctrl-mobile">
        <svg viewBox="0 0 9 9" class="layout-mob-1">
            <rect width="100%" height="100%" fill="currentColor"></rect>
        </svg>
        <svg viewBox="0 0 9 9" class="layout-mob-2">
            <rect width="100%" height="100%" fill="currentColor"></rect>
        </svg>
        <svg viewBox="0 0 9 9" class="layout-mob-3">
            <rect width="100%" height="100%" fill="currentColor"></rect>
        </svg>
        <svg viewBox="0 0 9 9" class="layout-mob-4">
            <rect width="100%" height="100%" fill="currentColor"></rect>
        </svg>
    </div>
    <section class="ae-container-fluid ae-container-fluid--inner loading rk-portfolio ">
        <div class="rk-portfolio__items">
            <a class="rk-item rk-item--flex item-1 rk-size-5 rk-tosize-6 rk-landscape "></a>
        </div>
    </section>
    <section>
        <form method="POST">
            <body class="align">
                <div class="login">
                    <form action="#" class="login__form" method="POST">
                        <div>
                            <label for="user">User</label>
                            <input type="user" id="user" name="user" placeholder="User">
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" placeholder="password">
                        </div>
                        <div>
                            <input class="button" type="submit" value="Sign In">
                        </div>
                    </form>
                </div>
            </body>
        </form>
    </section>
</section>